
.faq {
  background: #fff;
  padding: 200px;
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  margin-left: 16.5%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  
}

.search-bar {
  position: relative;

   margin: 50px auto;
  text-align: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 60%;
  padding: 7px 15px;
  border-radius: 30px;
  border: 1px solid #ccc;
  margin-left: 10%;

}

.faq-main {
  margin-top: 13%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  width:110%;


}
.search-bar .fa-solid{
position: absolute;
margin-left: 70%;
margin-top: 1%;
color:#ccc;
pointer-events: none;




}


.sub-faq {
  border-bottom: 2px solid green;
  padding-bottom: 10px;
  display: block;
 
}

.faq-question {
  display: flex;
  position: relative;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 5px;
}

.arrow {
  font-size: 1.2rem;
  position: absolute;
  right: -7%;


}


.faq-answer {
  max-height: 0;
  overflow: hidden;
  color: #555;
  font-size: 0.95rem;
  line-height: 1.4;
  padding-left: 5px;
}

.sub-faq.active .faq-answer {
  max-height: 200px;
  padding-top: 5px;
}

















































@media (max-width: 900px) {
  .footer-main {
    flex-direction: column;
    padding: 30px 20px 20px 20px;
    align-items: flex-start;
  }
  .footer-links {
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 10px;
  }
}


@media (min-width: 768px) {
    .content-wrapper {
        max-width: 800px; 
    }
    .content-block {
        flex-direction: row; 
        text-align: left;
    }
    .content-block.reverse-order {
        flex-direction: row-reverse; 
    }
    .content-block .text-content {
        text-align: left; 
        padding-right: 20px; 
    }
    .content-block .image-container {
        padding-left: 20px; 
    }
    .how-to-join .steps-grid {
        grid-template-columns: 1fr 1fr; 
    }
    .for-customers .content-block .text-content {
        padding-left: 20px;
        padding-right: 0;
    }
}
@media (min-width: 1024px) {
    .content-wrapper {
        max-width: 900px; 
    }
}
@media (max-width: 500px) {
  .services-cards {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
  .phones-and-ring {
    height: 140px;
  }
  .orange-ring {
    width: 110px;
    height: 54px;
  }
  .phone {
    width: 60px;
    height: 110px;
  }
  .about-section {
    padding-bottom: 18px;
    padding-top: 28px;
  }
  .about-cards {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
  .about-card {
    width: 90vw;
    max-width: 220px;
  }
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    gap: 24px;
    text-align: center;
  }
  .hero-img img {
    margin-top: 24px;
  }
  .grouped-ellipse {
    left: -300px;
    width: 100vw;
    height: 50vw;
  }
  .offer-cards {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }
}


@media (max-width: 900px) {
  .services-cards {
    gap: 30px;
  }
  .service-card {
    width: 150px;
    height: 180px;
  }
  .flip-card-front img,
  .flip-card-back img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 600px) {
  .services-cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}